.HeadingsColor {
    -fx-Background-color: #581845
}

.greenColor {
    -fx-Background-color: #71c04f;
    -fx-stroke: #71c04f;
}

.blueColor {
    -fx-Background-color: #3790e5;
    -fx-stroke: #3790e5;
}

.turquesaColor {
    -fx-Background-color: #43b6a7
}

.backGroundColor {

    -fx-Background-color: #ffffff
}



